body{
    margin:100px;
}
#wrapper{
    margin-left: auto;
    margin-right: auto;
    width:400px;
    height:auto;
}
.head{
    height:100px;
    background-color:#141f40;
}
.contents{
    height:250px;
}
.left{
    float:left;
    height:100%;
    width: 150px;
    background-color: #80bfa8;

}
.right{
    float:right;
    height:100%;
    width:250px;
    background-color: #8c2727;
}
.footer{
    height:100px;
    background-color: #d98d30;
}

*{
    margin:0;
    padding:0;
}