body{
    margin:100px;
}
#wrapper{
    margin:0 auto;
    width:400px;
}
.head{
    height:100px;
    background-color: #141f40;
}
.left{
    float:left;
    height:250px;
    width:150px;
    background-color:#80bfa8;
}
.right{
    float:right;
    width:250px;
}
.rightTopLeft{
    float:left;
    width:150px;
}
.rightTopLeftTop{
    height:50px;
    width:150px;
    background-color: #dbd400;
}
.rightTopLeftBottom{
    height:100px;
    width:150px;
    background-color: #0093b7;

}
.rightTopRight{
    float:right;
    height:150px;
    width:100px;
    background-color: #ff9e6b;
}
.rightBottom{
    height:100px;
    width:250px;
    background-color: #8c2727;
}
.footer{
    height: 100px;
    background-color:#d98d30;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
*{
    margin:0;
    padding:0;
}